.gridContainer {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
