.nav {
  display: flex;
  padding: 2% 5%;
  background: black;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.favoritesContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.favNumber {
  margin-left: 0.5em;
}
